@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@500&display=swap');

body {
    background-color: black;
    color: blue;
    font-family: 'Yantramanav', sans-serif;
}

h1 {
    text-align: left;
}

h1 a {
    text-decoration: none;
}